nav {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4056a1;
  color: #ffffff;
  height: 120px;
  width: 100%;
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

nav .tweet-container span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

nav .tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .tweet-container i {
  color: red;
}

nav p {
  margin: 0;
}

/* mobile styles */
@media (max-width: 1024px) {
  nav {
    background-color: transparent;
  }
}